.form-wrapp {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 40%;
  &:after {
    content: "";
    position: absolute;
    top: 28px;
    left: 0;
    width: 100%;
    height: calc(100% - 38px);
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.73;
    border-radius: 41px;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.48;
    border-radius: 41px;
  }
}
.welcome-form {
  position: relative;
  z-index: 1;
  width: 100%;
  height: calc(100% - 55px);
  background: #FFFFFF;
  border-radius: 41px;
  padding: 30px 25px 25px 25px;
  overflow-y: auto;
}
.welcome-form__item {
  width: 100%;
  padding: 19px 45px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  &--input {
    background: #F0F0F0;
    border-radius: 42.5px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.315151px;
    color: #A0A0A0;
    &:hover, &:focus, &:active {
      border: 1px solid $white;
    }
  }
  &--continue {
    position: relative;
    background: linear-gradient(90deg, #6ED4FF 34.25%, #8FFFA3 96.88%);
    mix-blend-mode: normal;
    opacity: 0.79;
    border-radius: 27.5px;
    color: $white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 4.2px;
    &:before {
      content: "";
      position: absolute;
      top: 23px;
      right: 26px;
      width: 12px;
      height: 2px;
      background: $white;
      transform: rotate(45deg);
    }
    &:after {
      content: "";
      position: absolute;
      top: 31px;
      right: 26px;
      width: 12px;
      height: 2px;
      background: $white;
      transform: rotate(-45deg);
    }
  }
  &--social {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    color: $white;
    border-radius: 27.5px;
    padding-left: 80px;
  }
  &--social-twitter {
    position: relative;
    background: linear-gradient(270deg, #67E4FE 0%, #35ABD3 52.4%);
    &:before {
      content: "";
      position: absolute;
      top: 16px;
      left: 25px;
      width: 31px;
      height: 25px;
      background: url("../img/svg/twitter.svg") no-repeat;
    }
  }
  &--social-facebook {
    position: relative;
    background: linear-gradient(270deg, #3FA3E8 11.18%, #277EBB 63.9%);
    &:before {
      content: "";
      position: absolute;
      top: 16px;
      left: 25px;
      width: 31px;
      height: 25px;
      background: url("../img/svg/facebook.svg") no-repeat;
    }
  }
}
.title--welcome {
  text-align: center;
  color: $black;
  margin-bottom: 22px;
}
.desc--welcome {
  text-align: center;
  color: $gray;
  margin-bottom: 30px;
}
.desc--welcome--connect {
  margin: 15px 0;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.531818px;
  color: #8B8B8B;
}

.welcome-form::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.welcome-form::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.welcome-form::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background: linear-gradient(360deg, #6ED4FF 1.75%, #8FFFA3 95.51%);
}
