.form-wrapp
    form#welcome-form.welcome-form(method="get" action="")
        h2.title.title--welcome Sign In
        p.desc.desc--welcome Sign in to continue access pages
        input#user_email.welcome-form__item.welcome-form__item--input._req._email(type="email" placeholder="Email Address" name="user_email" required)
        span.error
        input#psword.welcome-form__item.welcome-form__item--input._req(type="password" name="psword"  placeholder="Password" maxlength="25" minlength="8" required)
        span.error
        buttun(type="submit" name="submit" value="Submit").btn.welcome-form__item.welcome-form__item--continue Continue
        p.desc.desc--welcome.desc--welcome--connect or Connect with Social Media
        a(href="#").welcome-form__item.welcome-form__item--social.welcome-form__item--social-twitter Sign In With Twitter
        a(href="#").welcome-form__item.welcome-form__item--social.welcome-form__item--social-facebook Sign In With Facebook
