include ../includes/mixins.pug
doctype html
block vars
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport" , content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title #{title}
        include ../includes/links.pug
    body
        include ../includes/svg-sprite
        .app
            block content
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="libs/jquery/jquery-3.4.1.min.js")
        script(src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js")
        script(src="js/common.js")
